<h1 *ngIf='my_cont_list.length > 0'>Continue Watching</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile && my_cont_list.length > 0' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of cont_list_single; index as i">
            <a [routerLink]="['/watch/' + item.media_type + '/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile && my_cont_list.length > 0' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of cont_list_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/' + item.media_type + '/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

<h1>Popular Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of pop_mv_single; index as i">
            <a [routerLink]="['/watch/movie/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of pop_mv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/movie/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Top Rated Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of top_mv_single; index as i">
            <a [routerLink]="['/watch/movie/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of top_mv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/movie/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Trending Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of trending_mv_single; index as i">
            <a [routerLink]="['/watch/movie/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of trending_mv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/movie/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Popular TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of pop_tv_single; index as i">
            <a [routerLink]="['/watch/tv/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of pop_tv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/tv/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Top Rated TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of top_tv_single; index as i">
            <a [routerLink]="['/watch/tv/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of top_tv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/tv/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Trending TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of trending_tv_single; index as i">
            <a [routerLink]="['/watch/tv/' + item.id]">
                <div class='col-9'>
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                </div>
                <div class='mobile-caption'>
                    <p>{{item.title}}</p>
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide class='row' *ngFor='let group of trending_tv_grouped; index as i'>
            <div class="col-2" *ngFor="let item of group">
                <a [routerLink]="['/watch/tv/' + item.id]">
                    <img class="" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path">
                    <div class='carousel-caption'>
                        <p>{{item.title}}</p>
                    </div>
                </a>
            </div>
        </ng-template>
    </ngb-carousel>