#container {
    width: 100%;
    background-color: rgb(6, 7, 38);
    overflow-y: scroll;
}

#container h1{
    color: white;
    margin-top:3%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inner-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 14px;
}

.modal-body {
    overflow-y: scroll;
}
.card-casts{
    flex-basis:auto;
    margin-left:0.8%;
    margin-right:0.8%;
    width: 16%;
    border-radius: 8px;
}

.card-casts img{
    border-radius: 8px;
}

.card-body-casts{
    text-align: center;
    padding: 2px;
}

.card-modal {
    flex-direction: row;
    border:none;
}

.card-modal img{
    width: 24%;
}

.review-pic{
    width: 100px;
}

.review-card{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:white;
    margin-top:1%;
    border-radius: 10px;
}

.card-review-body {
    width: 80%;
}

.card-review-img {
    width: 20%;
    text-align: center;
}