html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.top-container {
    height:40px;
    color: red;
}

.left-container {
    width: 20%;
    float:left;
    text-align: right;
}
.left-container button {
    background-color: black;
    color: white;
}

.right-container{
    width: 80%;
    float:left;
}


h3{
    color: white;
}

.slide{
    position: relative;
}
.slide img{
    bottom: 0;
}

.text-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    bottom: 0;
    margin-bottom: 0;
}