/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


::-webkit-scrollbar {
    width: 1em;
    display:block;
    height:6px;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.8);
    border-radius:10px;
  }
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius:10px;
  }

ngb-carousel {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-outline {
  outline: none;
}

.carousel-item{
    padding-bottom: 4%;
    padding-top: 4%;
}

.carousel-control-prev, .carousel-control-next {
    width: 4%;
}

.carousel-caption {
    width: 100%;
    left:0;
    right:0;
    padding-left: 10%;
    bottom: 0;
    text-align: left;
    display: none;
}

.carousel-inner:hover .carousel-caption {
    display: block;
}

app-static-carousel .carousel-item {
  padding-left: 3%;
}

.card-deck {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 1.5%;
}


.modal-dialog{
    overflow-y: initial;
    max-width: 800px;
}

.modal-body{
  max-height: 80vh;
  overflow-y: auto;
}


.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
    padding: 2px 3px 0px 10px;
    color: white;
  }
  
  .fa-twitter {
    color: #55ACEE;
  }

  .fa-instagram {
    color: rgb(120,0,113);
  }

  .fa-imdb{
    color: rgb(227,168,0);
  }

  .dropdown-menu {
    background-color: rgb(6, 7, 38);
  }

 