<div id='container'>
    <ngb-carousel [interval]="2000">
        <ng-template ngbSlide *ngFor="let item of now_playing; index as i">
            <div class='slide-wrapper'>
                <div class="text-wrapper">
                    <h4>{{item.title}}</h4>
                  </div>
                  <img [src]="'https://image.tmdb.org/t/p/original' + item.backdrop_path" alt="">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1 *ngIf='my_cont_list.length > 0'>Continue Watching</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile && my_cont_list.length > 0' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of cont_list_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/' + item.media_type + '/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile && my_cont_list.length > 0' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of cont_list_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/' + item.media_type + '/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Popular Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of pop_mv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of pop_mv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Top Rated Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of top_mv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of top_mv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Trending Movies</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of trending_mv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of trending_mv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Popular TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of pop_tv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of pop_tv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/tv/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Top Rated TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of top_tv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of top_tv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/tv/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

    <h1>Trending TV Shows</h1>
    <!-- Mobile section : only one image per slide -->
    <ngb-carousel *ngIf='mobile' [interval]="0" [showNavigationIndicators]='!mobile'>
        <ng-template ngbSlide *ngFor="let item of trending_tv_single; index as i">
            <div class="multi-img-container" [routerLink]="['/watch/movie/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w185' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- Desktop section : multiple images per slide -->
    <ngb-carousel *ngIf='!mobile' [interval]="0">
        <ng-template ngbSlide *ngFor='let group of trending_tv_grouped; index as i'>
            <div class="multi-img-container" *ngFor="let item of group" [routerLink]="['/watch/tv/' + item.id]">
                <div class='multi-carousel-caption'>
                    <p>{{item.title}}</p>
                </div>
                <img class="" [src]="'https://image.tmdb.org/t/p/w154' + item.poster_path">
            </div>
        </ng-template>
    </ngb-carousel>

</div>
