.container {
  display: flex;
  flex-direction: row;
}

.main-body{
  background-color: rgb(6, 7, 38);
  min-height: 100%;
}

.main-body::after {
  content: "";
  display: block;
  /* .push must be the same height as footer */
  height: 20px; 
}

.site-footer, .main-body:after {
  /* .push must be the same height as footer */
	height: 20px; 
}

footer {
  padding-top: 10px;
  line-height: 20px;
  text-align:center; 
  color: white;
  background-image: linear-gradient(to top, rgb(1,4,9), rgb(6,7,38));
}
