.container {
    width: 100%;
    background-color: rgb(6, 7, 38);
}

h1{
    color: white;
}

.no-items-container {
    text-align: center;
}

.inner-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.multi-img-container {
    display: inline-flex;
    position: relative;
}
.multi-img-container img{
    margin:30px auto;
}

.multi-img-container .multi-carousel-caption {
    position: absolute;
    width: 100%;
    left:0;
    right:0;
    bottom: 0;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 90%;
    padding-left: 4%;
    padding-right: 4%;
}
.multi-img-container:hover .multi-carousel-caption {
    display: block;
}

.multi-img-container:hover img {
    transform: scale(1.1);
}