<!--Desktop: backdrop_path-->
<ngb-carousel [interval]="2000" [showNavigationIndicators]='false'>
    <ng-template ngbSlide *ngFor="let item of now_playing; index as i">
        <a [routerLink]="['/watch/movie/' + item.id]">
            <div class="carousel-caption">
                <p>{{item.title}}</p>
              </div>
            <div class="picsum-img-wrapper">
                <img [src]="'https://image.tmdb.org/t/p/original' + item.backdrop_path" alt="">
            </div>
        </a>
    </ng-template>
</ngb-carousel>

