.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(0,11,25);
    color: white;
    font-weight: 600;
}

ul li {
  display: inline;
}

.spacer {
  flex: 1 1 auto;
}

.common-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.form-control{
  width: 200px;
}

#search-bar{

  margin-right:5%;
}

.form-control{
  background-color: #010c20;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid white;
  color: rgba(255,255,255,0.4);
}

.dropdown-click{
  text-decoration: none;
  color:white;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem ;
}


.navbar-custom {
  background-color: rgb(0,11,25);
}
/* change the brand and text color */
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.nav-link {
  text-align: right;
  padding-right:14px
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0,11,25);
} 