<nav class="navbar navbar-expand-lg mb-3 navbar-custom">
  <a class="navbar-brand" [routerLink]="['/']">USC Films</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler custom-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="['/']" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mylist']" (click)="isMenuCollapsed = true">My List</a>
      </li>
    </ul>
<!--
    <form class="form-inline my-2 my-lg-0" id="search-bar">
      <ng-template #rt let-r="result" let-t="term">
        <a [routerLink]="['/watch/' + r.media_type + '/' + r.id]" class="dropdown-click"> 
          <img [src]="r.backdrop_path" class="mr-1" style="width: 80px">
          <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
       </a>
      </ng-template>
      
      <input id="typeahead-template" type="text" class="form-control mr-sm-2" value="Search" onfocus="if (this.value=='Search') this.value='';" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" [editable]='false'/>
      <hr>
    </form>
-->
    <form class="form-inline my-2 my-lg-0" id="search-bar">
      <ng-template #rt let-r="result" let-t="term">
        <a [routerLink]="['/watch/' + r.media_type + '/' + r.id]" class="dropdown-click" style="display: block; width: 100%; height:100%;"> 
            <img [src]="r.backdrop_path" class="mr-1" style="width: 80px">
            <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
         </a >
      </ng-template>
      <input id="typeahead-template" type="text" class="form-control mr-sm-2" placeholder="Search"  (selectItem)="onSelect($event, input)" #input [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" [editable]='false'/>
      <hr>
    </form>
  </div>
</nav>